@charset "UTF-8";

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #046d00;
}

h1#principal {
    text-align: center;
    background-color: #046d00;
    color: white;
}

h2 {
    color: #42a33f;
}

.basico {
    color: #42a33f;
}

.intermediario {
    color: #a3a23f;
}

.avancado {
    color: #a33f3f;
}