@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #DFEEFB, #82D5FC);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #008AC7;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #008AC7;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

h2 {
    color: #81C4DE;
}

p {
    text-align: justify;
}